@import '../../styles/theme.scss';

#Project {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	padding-left: 0;
	margin-right: auto;
	width: 100%;

	img {
		width: 100px;
	}
}
