$white: #fff;
$red: #ed482f;
$yellow: #ffe01b;
$lightblue: #177e7f;
$darkblue: #768bb8;
$purple: #9e748a;
$body: black;
$font-header: 'Space Mono', monospace;
$font-body: 'Poppins', sans-serif;
$mobile: 600px;
