@use '../../styles/theme.scss';

#container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  .color {
    font-weight: 700;
    color: theme.$lightblue;

    &:hover {
      background: -webkit-linear-gradient(theme.$red, theme.$yellow);
      background-size: 200% 200%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }

  #left-container,
  #right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100%;
    width: 50%;
  }

  #left-container {
    justify-content: flex-start;

    #left-scroll {
      width: 100%;
      padding: 100px;
      overflow-y: scroll;

      #work {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        margin: auto;
      }
    }
  }

  #right-container {
    justify-content: flex-start;
    background: linear-gradient(270deg, theme.$red, theme.$yellow);
    background-size: 400% 400%;
    animation: BackgroundGradient 45s ease infinite;

    text-align: right;

    #right-scroll {
      width: 100%;
      padding: 100px;
      overflow-y: scroll;
    }

    #right {
      color: theme.$white;
    }

    a {
      color: theme.$white;

      &:hover {
        color: theme.$lightblue;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    position: relative;

    #left-container,
    #right-container {
      width: 100%;
      height: auto;
      max-height: unset;
      min-height: unset;

      #left-scroll,
      #right-scroll {
        padding: 50px;
      }
    }
  }
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#cursor-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; // So it doesn't block clicks
  width: 100vw;
  height: 100vh;
  z-index: 9999; // On top of everything
}
