@import '../../styles/theme.scss';

#Work {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	min-height: 100vh;
	text-align: left;
	width: 100%;

	@media (max-width: $mobile) {
		width: 100%;
		padding: 0 16px;
	}

	.color {
		font-weight: 700;
		color: $body;
	}

	h4 {
		color: $body;
		transition: 1s;
		&:hover {
			background: -webkit-linear-gradient($red, $yellow);
			background-size: 400% 400%;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			// color: $lightblue;
			cursor: pointer;
		}
	}
}
