@use '../../styles/theme.scss';

#Work {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  width: 100%;

  @media (max-width: theme.$mobile) {
    width: 100%;
    padding: 0 16px;
  }

  .color {
    font-weight: 700;
    color: theme.$body;
  }
}
